@import "@/assets/vm.scss";

#forgetEmail {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.Email-box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: vm(0) vm(20);
}

.Email-form {
    padding: vm(10) vm(0) vm(20);
}