@import "../../assets/vm.scss";
@import "../../assets/base.css";

.yipai{
    margin-top: vm(50);
    .ypHead{
        width: 100%;
        height: vm(156);
        background: #fff;
        padding:vm(24);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .square{
            height: vm(48);
            img{
                height: vm(48);
                margin-right: vm(10);
                float: left;
            }
            span{
                font-size: vm(22);
                line-height: vm(46);
                float: left;
            }
        }
        .ypNav{
            display: flex;
            .btnActive{
                background:#292525;
                color: #fff;
            }
        }
    }
    .yqMain{
        width: 100%;
        padding: 0 vm(8);
        .loading{
            height: vm(88);
            position: relative;
            .btn_big{
                font-size: vm(14);
                color: #666;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}
