@import "../../assets/vm.scss";
@import "../../assets/base.css";

.ypDetail{
    min-height: vm(5000);
    background: url("https://cdn.sspai.com/article/f978f413-2ec3-2785-b86f-6cd14be20ab9.jpg?imageMogr2/auto-orient/quality/95/thumbnail/!750x516r/gravity/Center/crop/750x516/interlace/1") no-repeat;
    background-size: 100%;
    overflow: hidden;
    .ypDetailHead{
        margin: vm(180) vm(8) vm(8);
        .detailTitle{
            width: 100%;
            height: vm(320);
            background: #fff;
            border-radius: vm(20);
            padding: vm(24);
            position: relative;
            .identifier{
                font-size: vm(14);
                font-weight: 700;
                color: #666;
            }
            h2{
                height: vm(96);
                font-size: vm(29);
                font-weight: 700;
                color: #071c69;
                margin: vm(8) 0 vm(24) 0;
            }
            .share{
                height: vm(26);
                margin-bottom: vm(12);
                display: flex;
                .avatarLsits{
                    display: flex;
                    .avatarLsit{
                        width: vm(10);
                        height: vm(16);
                        img{
                            width: vm(16);
                            height: vm(16);
                            border-radius: 50%;
                        }              
                    }
                }
            }
            .detailEdit{
                height: vm(16);
                font-size: vm(12);
                font-weight: 700;
                margin-bottom: vm(12);
            }
            .leader{
                height: vm(24);
                img{
                    width: vm(24);
                    height: vm(24);
                    border-radius: 50%;
                    margin-right: vm(10);
                }
                span{
                    font-size: vm(12);
                }
            }
            .btn_img{
                text-align: center;
                height: vm(50);
                position: absolute;
                bottom: vm(-25);
                left: 0;
                right: 0;
                img{
                    height: vm(50);
                }
            }
        }
    }
}