@import "@/assets/vm.scss";
@import "@/assets/base.css";

.btn{
    width: vm(78);
    height: vm(36);
    line-height: vm(36);
    font-size: vm(14);
    font-weight: 700;
    color: #292525;
    border: 0;
    border-radius: vm(18);
    margin-right: vm(20);
    background: #f7f7f8;
}

.btn_small{
    width: vm(62);
    height: vm(24);
    line-height: vm(24);
    font-size: vm(12);
    font-weight: 700;
    color: #292525;
    border: 0;
    border-radius: vm(12);
    margin-right: vm(20);
    background: #f7f7f8;
}

.btn_big{
    width: vm(126);
    height: vm(46);
    line-height: vm(46);
    font-size: vm(18);
    font-weight: 700;
    color: #292525;
    border: 0;
    border-radius: vm(23);
    margin-right: vm(20);
    background: #f7f7f8;
}
